@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Inter:wght@300;400;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

/* Aplicamos Arvo a los encabezados globalmente */
h1,
h2,
h3,
h4 {
  font-family: "Arvo", serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Estilizamos el scroll para que combine */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
