@import "tailwindcss";

:root {
  --color-primary: #4f46e5;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Montserrat", sans-serif;
}

/* Custom scrollbar para el listado largo */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
